/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  background-color: rgb(15, 9, 71);
  color: #000;
  font-family: "Red Hat Display";
  font-weight: 500;
  scroll-behavior: smooth !important;
}
/* --------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: inherit;
  display: flex;
  flex-direction: column;
}

/* --------------------------------------------------------------------- */
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
/* --------------------------------------------------------------------- */    

.container-fluid {
  letter-spacing: 1.5px;
  font-size: 1.2rem; 
  font-weight: 600;
}

.underLogoText {
  font-size: 1.4rem; 
  font-weight: 400;
  letter-spacing: 1.5px;
  color: white;
  text-shadow: 0px 2px 4px black;
  position: relative;
  bottom: 30px;
}

.btnStream {
  font-size: 1.2rem; 
  font-weight: 600;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
  padding: 10px 28px 10px 28px;
  border-radius: 50px;
}

.links {
  font-size: 1.2rem; 
  font-weight: 400;
  letter-spacing: 1.5px;
  color: white;
}
.links>p>a {
  margin-right: 6px;
  margin-left: 6px;
}

.image1 {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}